html,
body {
  background-color: #282d35;
  font-family: "Inter", sans-serif;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

/** Components Challenge  */
.nav {
  display: flex;
  align-items: center;
}

/** Components Challenge  */
.nav-items {
  list-style: none;
  display: flex;
  min-height: 100px;
  background-color: #21222a;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.item {
  display: flex;
  align-items: center;
}

.extra-title {
  color: #deebf8;
}

.facts {
  color: #61dafb;
}

.img {
  width: 30px;
  height: 30px;
}

.list {
  margin-top: 40px;
}

.list > li::marker {
  padding: 10px;
  font-size: 1.4rem;
  color: #61dafb;
}
.container {
  background-image: url(./images/icon2.png);
  background-repeat: no-repeat;
  background-position: right 70%;
  padding: 20px;
  color: #ffffff;
}
